* {
    margin: 0;
    padding: 0
}
em,i {
    font-style: normal
}
li {
    list-style: none
}
img {
    border: 0;
    vertical-align: middle
}
button {
    cursor: pointer
}
a {
    color: #666;
    text-decoration: none
}
a:hover {
    color: #c81623
}

.header nav{
    height: 50px;
    background-color: #cccccc;
}

nav ul li{
    line-height: 50px;
    float: right;
    margin-right: 30px;
}

.lg{
    float: left;
    margin-left: 40px;
}

.lg a{
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 700;
    color: #dddddd;
}

body{

}
.all{
    background: url("../img/banner.jpg") no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family:Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”,sans-self;
    overflow: hidden;
}

.header{
    background: rgba(0,0,0,0.4);
    opacity: 0.9;
}
.banner{
    width: 300px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
.banner .inner{
    position: relative;
    text-align: center;
    padding-top: 160px;
}
.banner .inner .line{
    width: 60%;
    height: 2px;
    background-color: #fff;
    margin: 0 auto;
}

.banner .inner .title h1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.banner .inner .content{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}
.banner .inner .content p{
    font-size: 16px;
}

.banner .inner .btn button{
    background-color: #e85e17;
    padding: 10px 20px;
    border: 0px;
    outline: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.banner button:hover{
    transform: rotate(1080deg) scale(2);
    transition: 2.5s;
}
.banner .inner .more{
    width: 60px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    margin-top: 170px;
    padding-bottom: 10px;
    color: #fff;
}

.content{
    width: 100%;
    margin: 0 auto;
    opacity: 0.9;
}

.content .text1{
    margin: 0 auto;
    text-align: center;
    background-color: #2bb8aa;
}

.content .text1 h1{
    color: #fff;
    padding-top: 80px;
}

.content .text1 p{
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}
.content .text1 .line{
    width: 40%;
    height: 1px;
    margin: 0 auto;
    background-color: #fff;
}

.content .text1 .h2{
    margin-top: 30px;
    font-size: 20px;
    color: #fff;
}

.content .text1 .icon{
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 30px;
}

.content .text1 .icon .item{
    width: 80px;
    height: 80px;
    border: 2px solid green;
    display: inline-block;
    margin-right: 50px;
    transform: rotate(45deg);
}
.content .text1 .icon .item img{
    width: 80px;
    height: 80px;
    transform: rotate(-45deg);
}

.part_two{
    background-color: #3f484f;
}

.content .text2 .img{
    width: 45%;
    float: left;
}
.content .text2 .img img{
    width: 100%;
}
.content .text2 .text{
    width: 55%;
    float: left;
    text-align: left;
}

.clear_fix:after{
    content:"";
    display: block;
    clear: both;
}
.content .text2 .text h1{
    margin-top: 80px;
    font-size: 27px;
    color: #fff;
    padding-left: 50px;
}
.content .text2 .text h2{
    color: #fff;
    font-size: 20px;
    padding-left: 50px;
    margin-top: 10px;
}
.content .text2 .text p{
    color: #fff;
    font-size: 18px;
    padding-left: 50px;
    padding-right: 30px;
    letter-spacing: 1px;
    margin-top: 20px;
}

.text2:nth-child(even){
    background: rgba(255,255,255,0.1);
}
.part_three{
    background-color: #3f3965;
    color: #fff;
}

.part_three .text5{
    width: 60%;
    margin: 0 auto;
}

.part_three .text5 .text h1{
    font-size: 27px;
    text-align: center;
    padding-top: 80px;
}

.part_three .text5 .text .line{
    width: 60%;
    height: 1px;
    background-color: #1a0973;
    margin: 0 auto;
    margin-top: 30px;
}

.part_three .text5 .text p{
    margin-top: 30px;
    padding-bottom: 20px;
    font-size: 16px;
    letter-spacing: 0px;
}

 .card_group .card{
     min-height: 300px;
     float: left;
     width: 50%;
     padding: 30px;
     max-width:461px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
}

.card h3{
    text-align: center;
}
.card p {
    margin-top: 20px;
    font-size: 18px;
}

.card:nth-child(1){
    background: rgba(0,0,0,0.05);
}
.card:nth-child(2){
    background: rgba(0,0,0,0.1);
}
.card:nth-child(3){
    background: rgba(0,0,0,0.15);
}
.card:nth-child(4){
    background: rgba(0,0,0,0.2);
}
.card:nth-child(5){
    background: rgba(0,0,0,0.25);
}
.card:nth-child(6){
    background: rgba(0,0,0,0.3);
}

.bottom{
    width: 100%;
    height: 200px;
    background-color: #222222;
}

.bottom .date{
    width: 30%;
    margin: 0 auto;
    padding-top: 50px;
}

.bottom .date li{
    float: left;
    color: #fff;
    display-list: none;
    margin-left: 30px;
}

.bottom .author{
    margin-top: 80px;
    height: 20px;
    text-align: center;
    color: #fff;
}

.active{
    position: relative;
}
.active span{
    height: 4px;
    width: 100%;
    background: #fff;
    position: absolute;
    bottom: 5px;
    left: 0;
}

.mask{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    display: none;
}

.slider{
    position: fixed;
    top: 0;
    right: -300px;
    bottom: 0;
    width: 300px;
    background: #343434;
    transition:.4s;
}

.slider ul li{
    list-style: none;
    padding: 15px;
    margin-top: 20px;
}

.slider ul li:hover{
    background: #999999;
}

.slider ul li a{
    color:#fff;
    font-size: 16px;
}

.slider .title a{
    font-size: 24px;
    font-weight: bolder;
    letter-spacing: 1px;
}

.top {
    position: fixed;
    right: 50px;
    bottom: 40px;
    opacity: 0.9;
    height: 70px;
    display: none;
}

.top img{
    width: 50px;
    height: 50px;
}

 .top span{
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 0;
}
